= form_for @user do |f|
  #form-new-entity
    #form-entity
      %h1 Dados do Usuário
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :type_role
        = select_tag "user[type_role]", options_for_select(@user_roles), class: 'form-control'

    .actions.text-center
      #save-new-entity= f.submit 'Salvar', class: 'btn btn-primary'
