= form_for @product do |f|
  #form-new-entity
    #form-entity
      %h1 Dados do Produto
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :price
        = f.number_field :price, class: 'form-control'
      .form-group
        = f.label :image
        = f.file_field :image, class: 'form-control-file'
    .actions.text-center
      #save-new-entity= f.submit 'Salvar', class: 'btn btn-primary'
