#product-listing
    .container
        = render 'layouts/nav/nav_product_listing'
        .row
            .col-md-3#filters-products.col{ data: { url: product_listing_products_path } }
                %h4#price Preço
                .form-check
                    %label.radio-inline
                        .form-check-input= radio_button_tag :filter_category, :category_low
                        .form-check-label= 'R$ 0,00 a R$ 50,00'
                .form-check
                    %label.radio-inline
                        .form-check-input= radio_button_tag :filter_category, :category_medium
                        .form-check-label= 'R$ 51,00 a R$ 100,00'
                .form-check
                    %label.radio-inline
                        .form-check-input= radio_button_tag :filter_category, :category_high
                        .form-check-label= 'R$ 101,00 a R$ 200,00'
            .col-md-9
                %h1 Uma variedade de rações para sua Chinchila
                #list-products= render 'list_products', products_list: @products

:coffeescript
    window.loadListiningProduct();
