!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChinchillaFood
    = csrf_meta_tags
    = csp_meta_tag
  %body
    .notice= notice
    .alert= alert
    = yield
